body {
	min-height: 100vh;
	background-color: #F3F3F3;
	position: relative;
	padding-bottom: 60px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:focus {
	color: black;
	text-decoration: none;
}

.menu-lateral {
	display: inline-flex;
	width: 760px;
}

.blockMusique {
	width: 380px;
	float: left;
}

.blockFilm {
	width: 380px;
	float: left;
}

ol.ssMenu {
	padding-left: 45px;
	padding-bottom: 15px;
	padding-top: 15px;
	float: left;
	width: 190px;
}

.ssMenu li {
	padding-bottom: 3px;
}

.ssMenu li a {
	color: #777;
	text-decoration: none;
}

.clearBoth {
	clear: both;
}

.titleMenu a {
	color: #777;
	text-decoration: none;
}

.ssMenu li a:HOVER {
	color: #FF9800;
	font-size: 14px;
}

.titleMenu a:HOVER {
	color: #5e5e5e;
}

.blockSsMenu {
	max-width: 380px;
	margin: 0 auto;
}

.legend {
	position: absolute;
	height: 338px;
	border-right: 1px solid #B6B6B6;
	margin: 12px 0 0 16px;
}

.titleProduct {
	text-align: center;
	margin-top: 15px;
	font-size: 29px;
	min-height: 82px;
}

.imageProduct {
	text-align: center;
	width: 200px;
	margin: 8px auto 20px auto;
	height: 200px;
	background-attachment: fixed;
	overflow: hidden;
}

.descriptionProduct {
	max-width: 295px;
	margin: 0 auto;
	height: 200px;
}

.imageProduct img {
	text-align: center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.product {
	min-height: 530px;
	width: 360px;
	position: relative;
	float: left;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.product:hover {
	-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttonAddCart {
	float: right;
}

.priceProduct {
	float: left;
	font-size: 25px;
	color: #c94242;
	white-space: nowrap;
	margin-top: 1px;
}

.priceProduct img {
	width: 35px;
	margin-bottom: 4px;
}

.filtre {
	min-height: 40px;
	width: 100%;
	background-color: white;
	margin-bottom: 25px;
	border-radius: 5px;
	padding: 15px;
}

.buttonWithoutBackground {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #929292;
}

.texteFiltre {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 11px;
}

.blocFiltre {
	float: left;
	display: block;
	min-height: 35px;
	vertical-align: middle;
	line-height: 34px;
	margin-right: 3%;
	margin-bottom: 10px;
}

.buttonWithoutBackground:hover {
	background-color: #F7F7F7;
}

.selectedFormat {
	border: 1px solid #DC5555;
	font-weight: 600;
	background-color: #FAEBD7;
}

.selectedFormat:hover {
	border: 1px solid #DC5555;
	font-weight: 600;
	background-color: #FAEBD7;
}

.replaceCarousel {
	margin-top: -20px;
}

.center100 {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.blockProductBottom {
	width: 100%;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.price-product h3 {
	line-height: 0;
	margin-top: 18px;
	width: 100px;
	float: left;
}

.price-product button {
	margin-left: 16px;
}

.img-product {
	width: 100%
}

.artist-product a {
	color: #c94242;
}

.artist-product {
	font-size: 17px;
	margin-bottom: 10px;
}

.first-letter {
	text-transform: capitalize;
}

.hashTagList {
	margin-left: 40px;
	margin-bottom: 20px;
	font-weight: 600;
}

.imageCart {
	width: 100px;
	height: 100px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.centerVerticale {
	vertical-align: middle !important;
}

.centerVerticale a {
	
}

.centerVerticale a {
	font-weight: 600;
}

.totalCart {
	background: #fbfbfb;
	font-weight: bold; 600 18 px /22px "Roboto", sans-serif;
	color: #555454;
	text-transform: uppercase;
	text-align: right;
	padding: 13px;
	font-size: 18px;
}

.alert-fixed {
	display: inline-block;
}

.block-alert-fixe {
	position: fixed;
	left: 0;
	right: 0;
	top: 60px;
	z-index: 999;
	text-align: center;
}

.input-number-cart {
	width: 70px;
	margin: 0 auto 3px auto;
	text-align: center;
	float: none;
}

.input-number-cart input {
	text-align: center;
}

.input-cart {
	float: right;
}

.priceTotal {
	font-size: 24px;
}

.alert {
	display: none;
}

.linkBold {
	font-weight: 600;
}

.logo {
	width: 115px;
	margin-top: -6px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #464646;
	border-color: #e7e7e7;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 30px
}

.footer a {
	color: #fff;
	font-weight: 600;
}

@media screen and (max-width: 767px) {
	.menu-lateral {
		display: block;
		width: 100%;
	}
	ol.ssMenu {
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.blockMusique {
		float: none;
		width: 100%;
		text-align: center;
	}
	.blockFilm {
		float: none;
		width: 100%;
		text-align: center;
	}
	.legend {
		display: none;
	}
	.blockSsMenu {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	ol.ssMenu {
		padding-left: 0px;
		padding-bottom: 0px;
		float: none;
		width: 100%;
	}
	.priceProduct {
		font-size: 20px;
		margin-top: 4px;
	}
	.priceProduct img {
		width: 30px;
	}
	.blockProductBottom {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.allBlockProductBottom {
	min-height: 45px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.rowProduct {
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 992px) {
	.product {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 755px) {
	.blocFiltre {
		float: none;
		margin: 0 auto 10px auto;
		text-align: center;
		width: 220px;
	}
	.blocFiltre {
		float: none;
		margin: 0 auto 10px auto;
		text-align: center;
		width: 220px;
	}
}

#genre {
	margin: 0 16px 16px;
}